#cav {
	height:720;
	width:1200;
	border-style: solid;
	background-color: white;
	border-radius: 25px;
    border: 10px solid LightBlue;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
